@import "../sass/variables";
@import "../sass/mixin";

main {
  margin-top: 1em;
}
.hero__img {
  width: 100%;
}

.hero__info {
  text-align: center;
  margin: 2em 0.5em 2em 0.5em;

  .hero__info__paragraph {
    margin: 1em 0px 1em 0px;
    color: $c-gray;
    line-height: 1.5em;
  }

  .btn {
    background-color: $c-black;
    padding: 1em;
    border-radius: 1em;
    border: 2px solid black;

    a {
      color: $c-white;
      text-decoration: none;
      font-size: 1rem;
    }
    &:hover {
      background-color: $c-white;
      cursor: pointer;
      a {
        color: $c-black;
      }
    }
  }

  .hero__info__sponsor {
    @include flexCenter(row);
    list-style: none;
    justify-content: space-evenly;
    margin-top: 1.5em;
  }
  .sponsor {
    max-width: 25%;

    flex: 1;
    padding: 0.5em;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 50em) {
  main {
    @include flexCenter(row-reverse);
    margin: 1em;
    justify-content: center;
    
    padding: 1em;
    width: 100%;
    height: 50em;

    .hero__info {
      text-align: left;
      flex: 1;

      .hero__info__title {
        font-size: 5rem;
        margin: 0.5em 0px 0.5em 0px;
        
      }
      .btn {
        margin: 1em 0px 1em 0px;
      }

      .hero__info__paragraph {
        max-width: 50%;
      }
    }

    .hero__img__container {
      height: 100%;
      flex: 1;
      .hero__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
